
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Advent of code Index</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">broughty.com</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Advent of Code 2023 results</h1>
    </div>

    <ol>
        <li><a href="/day1">Day 1 Snow</a> </li>
        <li><a href="/day2">Day 2 Cube Bag</a> </li>
        <li><a href="/day3">Day 3 Gears</a> </li>
        <li><a href="/day4">Day 4 Scratch Cards</a> </li>
        <li><a href="/day5">Day 5 Seed Location</a> </li>
        <li><a href="/day6">Day 6 Boat Race</a> </li>
        <li><a href="/day7">Day 7 Cards</a> </li>
    </ol>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
